# SORTING IN REAL WORLD

## Descending Sort

In [1]:
def selection_sort(l):
    for i in range(len(l)):
        max_idx=i
        for j in range(i,len(l)):
            if l[j]>l[max_idx]: #descending sort
                max_idx=j
                
        l[i],l[max_idx]=l[max_idx],l[i]

In [2]:
import random
l=[random.randint(1,1000),random.randint(1,1000),random.randint(1,1000),random.randint(1,1000)]
selection_sort(l)
print(l)

[649, 483, 467, 349]

### but there's a better way

In [3]:
def less_than(a,b):
    return a<b
def greater_than(a,b):
    return a>b

In [4]:
def selection_sort(l,comparison_function):
    for i in range(len(l)):
        idx=i
        for j in range(i,len(l)):
            if comparison_function(l[j],l[idx]):
                idx=j
        l[i],l[idx]=l[idx],l[i]

In [5]:
import random
l=[random.randint(1,1000),random.randint(1,1000),random.randint(1,1000),random.randint(1,1000)]
selection_sort(l,greater_than)
print(l)

[868, 844, 425, 108]

In [6]:
all_tuple=[(1,2),(3,4),(5,6),(24,25) ]
def tuple_less_than(a,b):
    return sum(a)<sum(b)
def tuple_greater_than(a,b):
    return sum(a)>sum(b)

In [7]:
print("ASCENDING \t",end="")
selection_sort(all_tuple,tuple_less_than)
print(all_tuple)

print("DESCENDING \t",end="")
selection_sort(all_tuple,tuple_greater_than)
print(all_tuple)

ASCENDING 	[(1, 2), (3, 4), (5, 6), (24, 25)]
DESCENDING 	[(24, 25), (5, 6), (3, 4), (1, 2)]

In [8]:
def dictionary_less_than(a,b):
    return sum(a.keys())<sum(b.keys())

def dictionary_greater_than(a,b):
    return sum(a.keys())>sum(b.keys())

In [9]:
d=[{1:"one",2:"two",3:"THREE"},
{4:"FOUR",5:"FIVE",6:"SIX"},
{7:"one",8:"two",9:"THREE"}, 
{10:"one",11:"two",12:"THREE"}]
print("ASCENDING \t",end="")
selection_sort(d,dictionary_less_than)
print(d)
print("DESCENDING \t",end="")
selection_sort(d,dictionary_greater_than)
print(d)

ASCENDING 	[{1: 'one', 2: 'two', 3: 'THREE'}, {4: 'FOUR', 5: 'FIVE', 6: 'SIX'}, {7: 'one', 8: 'two', 9: 'THREE'}, {10: 'one', 11: 'two', 12: 'THREE'}]
DESCENDING 	[{10: 'one', 11: 'two', 12: 'THREE'}, {7: 'one', 8: 'two', 9: 'THREE'}, {4: 'FOUR', 5: 'FIVE', 6: 'SIX'}, {1: 'one', 2: 'two', 3: 'THREE'}]

In [10]:
student=[
    {"NAME":"AHSAN",'age':25},
    {"NAME":"SAQIB",'age':39},
    {"NAME":"ZAID",'age':12},
    {"NAME":"ZOHAIB",'age':13}
]

def age_less_than(a,b):
    return a["age"]<b["age"]
def age_less_than(a,b):
    return a["age"]<b["age"]
print(student[0]["NAME"])

AHSAN

In [11]:
selection_sort(student,age_less_than)

In [12]:
print(student)

[{'NAME': 'ZAID', 'age': 12}, {'NAME': 'ZOHAIB', 'age': 13}, {'NAME': 'AHSAN', 'age': 25}, {'NAME': 'SAQIB', 'age': 39}]

In [13]:
def student_age(a):
    return a['age']

In [14]:
print(student)

[{'NAME': 'ZAID', 'age': 12}, {'NAME': 'ZOHAIB', 'age': 13}, {'NAME': 'AHSAN', 'age': 25}, {'NAME': 'SAQIB', 'age': 39}]

In [15]:
student.sort(key=student_age)
print(student)

[{'NAME': 'ZAID', 'age': 12}, {'NAME': 'ZOHAIB', 'age': 13}, {'NAME': 'AHSAN', 'age': 25}, {'NAME': 'SAQIB', 'age': 39}]

In [16]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return self.name+ " : " + str(self.age)

In [17]:
s1=student("majid",5)
s2=student("usman",7)
s3=student("ali",3)
s=[s1,s2,s3]

## Anonymous Function

In [24]:
s.sort(key=lambda x:x.age ,reverse=True) #defining function x and return x.age

In [25]:
for i in s:
    print(i)

usman : 7
majid : 5
ali : 3